DJANGO_DEBUG=false
DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_ALLOWED_HOSTS=foodcompass.rs,www.foodcompass.rs
DJANGO_CSRF_TRUSTED_ORIGINS=https://foodcompass.rs,https://www.foodcompass.rs
DJANGO_SSL_REDIRECT=false
DJANGO_SERVE_MEDIA=true
SITE_URL=https://foodcompass.rs
